<div class="container textocomida pt-4 text-md-center text-lg-left">
	<p><strong>Filtrar por:</strong> Precio | Valoraciones | Nombre</p>
</div>

<div class="container d-flex flex-wrap pt-3 textocomida">
	<div class="container empresa mb-5">
		<div class="row">
			<div class="col pl-0">
				<img class="imagen" src="{{ url_for('static', filename = 'images/photo5154859803980441779.jpg') }}">
			</div>
		</div>
		<div class="row nombrec">
			<div class="col d-flex justify-content-center align-items-center">
				<p><strong>empresa 1</strong></p>
			</div>
		</div>
	</div>
	<div class="container empresa mb-5">
		<div class="row">
			<div class="col pl-0">
				<img class="imagen" src="{{ url_for('static', filename = 'images/photo5154859803980441779.jpg') }}">
			</div>
		</div>
		<div class="row nombrec">
			<div class="col d-flex justify-content-center align-items-center">
				<p><strong>empresa 2</strong></p>
			</div>
		</div>
	</div>
	<div class="container empresa mb-5">
		<div class="row">
			<div class="col pl-0">
				<img class="imagen" src="{{ url_for('static', filename = 'images/photo5154859803980441779.jpg') }}">
			</div>
		</div>
		<div class="row nombrec">
			<div class="col d-flex justify-content-center align-items-center">
				<p><strong>empresa 3</strong></p>
			</div>
		</div>
	</div>
	<div class="container empresa mb-5">
		<div class="row">
			<div class="col pl-0">
				<img class="imagen" src="{{ url_for('static', filename = 'images/photo5154859803980441779.jpg') }}">
			</div>
		</div>
		<div class="row nombrec">
			<div class="col d-flex justify-content-center align-items-center">
				<p><strong>empresa 4</strong></p>
			</div>
		</div>
	</div>
	<div class="container empresa mb-5">
		<div class="row">
			<div class="col pl-0">
				<img class="imagen" src="{{ url_for('static', filename = 'images/photo5154859803980441779.jpg') }}">
			</div>
		</div>
		<div class="row nombrec">
			<div class="col d-flex justify-content-center align-items-center">
				<p><strong>empresa 5</strong></p>
			</div>
		</div>
	</div>
	<div class="container empresa mb-5">
		<div class="row">
			<div class="col pl-0">
				<img class="imagen" src="{{ url_for('static', filename = 'images/photo5154859803980441779.jpg') }}">
			</div>
		</div>
		<div class="row nombrec">
			<div class="col d-flex justify-content-center align-items-center">
				<p><strong>empresa 6</strong></p>
			</div>
		</div>
	</div>
	<div class="container empresa mb-5">
		<div class="row">
			<div class="col pl-0">
				<img class="imagen" src="{{ url_for('static', filename = 'images/photo5154859803980441779.jpg') }}">
			</div>
		</div>
		<div class="row nombrec">
			<div class="col d-flex justify-content-center align-items-center">
				<p><strong>empresa 7</strong></p>
			</div>
		</div>
	</div>
	<div class="container empresa mb-5">
		<div class="row">
			<div class="col pl-0">
				<img class="imagen" src="{{ url_for('static', filename = 'images/photo5154859803980441779.jpg') }}">
			</div>
		</div>
		<div class="row nombrec">
			<div class="col d-flex justify-content-center align-items-center">
				<p><strong>empresa 8</strong></p>
			</div>
		</div>
	</div>
	<div class="container empresa mb-5">
		<div class="row">
			<div class="col pl-0">
				<img class="imagen" src="{{ url_for('static', filename = 'images/photo5154859803980441779.jpg') }}">
			</div>
		</div>
		<div class="row nombrec">
			<div class="col d-flex justify-content-center align-items-center">
				<p><strong>empresa 9</strong></p>
			</div>
		</div>
	</div>
</div>