
<style type="text/css">
  .plataformasout {
    display: none;
  }
</style>

<!-- Comienzo de la sección de plataformas -->
    <div class="container-fluid plataformas">
        <div class="row pl-xl-5 pl-md-1 h-100">
            <div class="col-5 pt-5 pl-xl-5 pb-2 h-100">
                <img class="h-100 imgmonitor" src="{{ url_for('static', filename = 'images/account.aa4940f66abc.svg') }}">
            </div>
            <div class="col">
                <div class="row pl-xl-5 pt-lg-5">
                    <div class="col pt-5 pl-xl-5 disponibilidad">
                        <div class="pl-xl-5 text-center">
                            <p class="pl-xl-5"><strong>Estamos diponibles para ti en todas las plataformas</strong></p>
                        </div>
                    </div>
                </div>
                <div class="row pr-2">
                    <div class="col d-flex justify-content-end">
                        <a href="#"><img class="botonesstore mr-lg-5 mr-md-2" src="{{ url_for('static', filename = 'images/btn_googleplay.png') }}"></a>
                        <a href="#"><img class="botonesstore mr-lg-5 mr-md-2" src="{{ url_for('static', filename = 'images/btn_appstore.png') }}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Fin de la sección de plataformas -->